.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {

    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;

}

li {
    list-style-type: none;
    color: #e5e7eb;
}

.logo {
    width: 100px;
    height: auto;
}


.top-section {
    display: flex;
    background-color: #1f2937;
}

.left-column {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
}

.middle-box-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-box-container {
    display: flex;
    gap: 20px;
}

.info-box {
    width: 100px;
    height: auto;

}

.info-image {
    max-width: 100%;

    
}

.testimonial-section {

}

.CTA-section {

}

.footer {

}